<form action="/short-url" method="POST">
  <input
    required
    name="fullURl"
    placeholder="Enter the link here"
    type="text"
    class="url_shortener_input"
  />
  <button class="url_shortener_button" type="submit">Shorten URL</button>
</form>
