<!DOCTYPE html>
<html>
  {% include './partials/head.liquid' %}
  <body>
    {% include "./partials/header.liquid" %}
    <div class="error_container">
        <h2>404 Error</h2>
        <a href="/">Return home</a>
    </div>
  </body>
</html>