<!DOCTYPE html>
<html>
  {% include './partials/header.liquid' %}
  <body>
    {% for fruit in fruits %}
      <div><span>{{ forloop.index }}</span> - {{fruit}}</div>
    {% endfor %}
  </body>
</html>

