@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// mixins
.display-flex (@x, @y) {
  display: flex;
  justify-content: @x;
  align-items: @y;
}

body {
  background: #fff;
  font-family: "Poppins", sans-serif;
}

header {
  min-height: 15vh;
  color: #f1f1f1;
  background: #191921;
  .display-flex(center, center);
}
